*{
    /* border: 1px solid red; */
    box-sizing:border-box;
}
:root{
    --primary-color: #194bd4;
    --secondary-color: #73d5e2;
    --text-color: #3d3d3d;
    --text-light-color: #e0e0e0;
}
body{
    margin: 0;
    color: var(--text-color);
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#main{
    width: 100%;
    height: 700px;
    padding-top: 8px;
    background-image: radial-gradient(circle at 0px 0px, var(--primary-color), var(--secondary-color));
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}

h1{
    text-align: center;
    margin: 60px auto;
}
/* header.css */

#main-content{
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    color: var(--text-light-color);
}
#main-head{
    font-size: 26px;
    font-weight: bold;
}
/* #main-image{

} */
#explore-button{
    display: inline-block;
    padding: 12px 22px;
    border-radius: 8px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
}
#main-content > img{
    width: 500px;
}

#feature-cards{
    position: relative;
    bottom: 70px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    flex-wrap: no-wrap;
}
.card{
    width: 200px;
    margin: 0 auto;
    padding: 18px;
    color: var(--text-color);
    text-align: center;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 2px #b4b4b4;
}
.card > img{
    width: 160px;
    display: block;
    margin: auto;
}
#about{
    display: none;
    width: 90%;
    margin: 15px auto;
}
#education{
    width: 100%;
}
.lines{
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 12px;
}
.dot{
    width: 14px;
    height: 13px;
    margin-top: -2px;
    background: #b4b4b4;
    border-radius: 7px;
}
.line{
    height: 198px;
    width: 6px;
    margin-left: 4px;
    margin-top: -2px;
    background: #b4b4b4;
}

#info{
    display: flex;    
    width: 90%;
    margin: 0 auto;
    align-items: center;
}

.info-card{
    display: flexbox;
    width: 230px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 0px 20px 0px #b4b4b4;
    align-self: stretch;
}
.info-card > img{
    width: 80px;
    margin: 0 auto;
    padding: 6px;
    border: 8px solid #b4b4b4;
    border-radius: 50%;
}
#info > .linex{
    width: 200px;
    height: 8px;
    position: relative;
    bottom: 120px;
    z-index: 1;
    background-color: #b4b4b4;
}
.info-card > .time{
    color: var(--secondary-color);
    font-weight: bold;
    text-align: center;
}

/* for small screens */
@media only screen and (max-width: 412px) {
    #feature-cards{
        flex-direction: column;
    }
    .card{
        width: 300px;
        margin: 20px auto;
        justify-content: center;
    }
    #main-image{
        display: none;
    }
    #main-content{
        margin-top: 200px;
    }
}
@media only screen and (max-width: 640px){
    #info{
        display: none;
    }
    #about{
        display: flex;
    }

}
