#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px;
    background-color: #fcfcfc00;
}
#logo{
    font-size: 48px;
    padding-left: 24px;
}
#nav-items{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#nav-items > .nav-icon{
    font-size: 22px;
    margin: 0 28px;
    padding: 10px 10px 6px 10px;
    border-radius: 50%;
    color: var(--primary-color);
    text-decoration: none;
    transition: ease-in-out;
    transition-duration: .2s;
}
#nav-items > .nav-icon:hover{
    position: relative;
    transform: scale(1.2);
    color: var(--text-color);
    background-color: var(--secondary-color);
}

@media only screen and (max-width: 412px){
    #logo{
        font-size: 48px;
        align-self: flex-end;
    }
    #nav-items{
        flex-direction: column;
    }
    #nav-items > .nav-icon{
        margin: 8px 0;
    }

}