*{
    border: 1px solid red;
    box-sizing: border-box;
}

#header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    padding: 12px 8px;
    font-size: 22px;
}
#header > a{
    display: block;
    padding: 0;
}
#header > #logo{
    margin: 0 12px;
    padding: 0 12px;
    font-size: 28px;
}