#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px;
    background-color: #fcfcfc00;
}
#logo{
    font-size: larger;
    padding-left: 24px;
}
#nav-items{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#nav-items > .nav-icon{
    margin: 0 28px;
    padding: 8px 10px;
    border-radius: 50%;
    color: var(--text-light-color);
    text-decoration: none;
    transition: .3s ease-in-out;
}
#nav-items > .nav-icon:hover{
    position: relative;
    transform: scale(1.2);
    color: var(--text-color);
    background-color: var(--secondary-color);
}

@media only screen and (max-width: 412px){
    #nav-items{
        flex-direction: column;
    }
}