#sidebar-container{
    position: fixed;
    display: block;
    width: 20%;
    height: 100%;
    color: white;
    background-color: #525252;
}
#sidebar-container > h1{
    margin: 8px 12px;
}
/* #sidebar-container > ul > li{
    display: block; 
    list-style-type: none;
    margin: none;
    padding: none;
} */
#sidebar-container > a{
    display: block; 
    margin: 8px 12px;
    padding: 8px 12px;
    text-decoration: none;
    color: white;
}

